<section class="bg-main pt-5 text-white-50 min-vh-100">
  <div class="container">
    <div class="row justify-content-center align-items-center g-3">

      <div class="col-md-3" *ngFor="let game of games">
        <div class="card border-0 shadow-lg rounded-1 position-relative" [title]="'Available on ' + game.platform">
          <div class="card-img">
            <img [src]="game.thumbnail" alt="game img" class="w-100">
          </div>

          <div class="card-body bg-sec">
            <div class="d-flex justify-content-between align-items-center">
              <h6>{{game.title}}</h6>
              <span class="bg-primary text-white px-2 py-1 rounded-3">Free</span>
            </div>
            <p class="text-sm">{{game.short_description.slice(0, 30) + "...."}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <i class="fas fa-plus bg-main p-1 text-sm"></i>

              <div>
                <span class="bg-main p-1 text-sm rounded-2">{{game.genre}}</span>
                <i class="fab fa-windows ms-2" *ngIf="game.platform == 'PC (Windows)'"></i>
                <i class="fas fa-window-maximize ms-2" *ngIf="game.platform == 'Web Browser'"></i>
              </div>
            </div>
          </div>

          <a class="stretched-link" [routerLink]="['/game-details', game.id]"></a>
        </div>
      </div>

    </div>
  </div>
</section>
